@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #000;
  color: #fafafa;
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  -webkit-tap-highlight-color: transparent;
}
